{
    "dgDeviceMappings": [
        {
            "cdg_duuid": "{{item.cdguuid}}",
            "device_uuid": [
                "{{item.device_uuid}}"
                
            ],
            "mapping_oper": "ADD_OPER"
        }
    ]
}