{
    "dgDeviceMappings": [
        {
            "cdg_duuid": "{{vdg_ids.json.data[0].configData.vdgUuid}}",
            "device_uuid": [
                "{{item.json.data[0].uuid}}"
                
            ],
            "mapping_oper": "ADD_OPER"
        }
    ]
}