{"data": [
    {
        "inv_key_type": "NODE_IP",
        "node_ip": {
            "inet_af": "{{item.type}}",
            "inet_addr": "{{item.ip}}",
            "mask": "32"
        },
        "host_name": "{{item.hostname}}",
        "profile" :"{{item.profile}}",
        "admin_state": "ROBOT_ADMIN_STATE_UP",
        "connectivity_info": [
{%- for connect in item.connectivities %}
            {
                "type": "{{connect.type}}",
                "ipaddrs": [
                    {
                        "inet_af": "{{item.type}}",
                        "inet_addr": "{{connect.ip}}",
                        "mask": "32"
                    }
                ],
                "port": {{connect.port}},
{% if connect.encoding is defined and connect.encoding %}
                "encoding_type": "{{connect.encoding}}",
{% endif %}
                "timeout": "10",
                "reachability_state": "CONN_STATE_UNREACHABLE"
{% if loop.index == loop.length %}
            }
{% else %}
            },
{% endif %}
{%- endfor %}
        ],
        "product_info": {
            "capability": [ {{item.capabilities}} ],
            "syslog_format": "{{item.syslog_format}}"
            },
        "routing_info": {
                "telemetry_intf_src_name": "{{item.streaming.vrf}}"
            },
        "geo_info": {
                "coordinates": {
                    "longitude": {
                        "value": {{item.location.long}}
                    },
                    "latitude": {
                        "value": {{item.location.lat}}
                    }
                }
            },
          
        "reachability_check": "REACH_CHECK_ENABLE"
    }
  ],
  "user": "admin"
}