{
    "data": [
        {
            "puuid": "ba4f2461-36ef-4b9e-8dbb-7f9598f79030",
            "name": "CDG",
            "ipaddrs": [
                {
                    "ipaddr": {
                        "inet_af": "ROBOT_INET_ADDR_TYPE_v4",
                        "inet_addr": "172.26.240.35",
                        "mask": "24"
                    }
                }
            ],
            "pdg_uuids": [
                "13112410-72ad-4b8a-9fab-d0cac1d0ddbe",
                "b4a9f5bf-4033-4c81-bf39-5155491260d3"
            ],
            "spares": "1",
            "protection_status": "PROTECTED",
            "subnet_mask": "24"
        }
    ],
    "total_count": 1
}