{
    "data": [
{%- for one_device in dhcp -%}

{% if one_device.day1_params is defined  and device_uuids[one_device.day1_params.external_params.loopback10_ipv4] is defined %}
        {
            "uuid": "{{device_uuids[one_device.day1_params.external_params.loopback10_ipv4]}}",
            "admin_state": "ROBOT_ADMIN_STATE_UP"
{% if loop.index == loop.length %}
        }
{% else %}
        },
{% endif %}
{% endif %}
{% endfor %}
    ]            
        
}