{
    "data": [
        {
            "uuid": "{{device_uuids[item.host_name]}}",
            "admin_state": "ROBOT_ADMIN_STATE_DOWN",
            "connectivity_info": [
                {
                    "type": "ROBOT_MSVC_TRANS_GNMI",
                    "ipaddrs": [
                        {
                            "inet_af": "ROBOT_INET_ADDR_TYPE_v4",
                            "inet_addr": "{{loopback2_dict[item.host_name]}}",
                            "mask": "32"
                        }
                    ],
                    "port": 57400,
                    "timeout": "30",
                    "reachability_state": "CONN_STATE_REACHABLE",
                    "encoding_type": "JSON_IETF"
                }
            ],
            "product_info": {
                "capability": [
                    "YANG_CLI",
                    "GNMI",
                    "SNMP",
                    "YANG_MDT"
                ]
            }
        }
    ]
}