{
    "data": [
{% for item in devices %}
{% if device_uuids[item.host_name] is defined %}
        {
            "uuid": "{{device_uuids[item.host_name]}}"
            
{% if loop.index == loop.length %}
        }
{% else %}
        },
{% endif %}
{% endif %}
{% endfor %}
    ]            
        
}